$aw-blue: rgb(45, 105, 215);
$card-square-color: yellow;
$font-color: white;
$line-color: white;

$blackjack-table-background-image: '../img/table.png';

$default-font: 'Oswald', sans-serif;

$card-square-height: 13vh;
$card-square-width: $card-square-height * .67;

$card-height: 10vh;
$card-width: $card-height * .67;
